html, body {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
#bg {
    background: url(bg.jpg);
    background-position: center;
    background-size: cover;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#color {
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    opacity: .4;
}
.text {
    width: 100%;
    position: fixed;
    text-align: center;
    font-size: 3rem;
    color: white;
    text-shadow: 1px 1px 5px grey;
}
#text {
    top: 10%;
    color: white;
    text-shadow: 1px 1px 5px grey;
}
.mobile-play {
    text-decoration: underline;
    top: 40%
}
.mobile-pause {
    text-decoration: underline;
    position: fixed;
    bottom: 30px;
    font-size: 2rem;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 5px grey;
    display: none;
}
.bw {
    filter: grayscale(100%);
}